/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/*** This is some great code to add to your reset so that padding on elements
 * do not change their width and cause the layout to break. ***/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}
.fltLft {float: left;} .fltRgt {float: right;}

body {font-family: Arial, Helvetica, sans-serif;}

/* Micah is coding here. */

/* This should be a background on the header repeating x ***/
#contentbox {
	background-color: #404040;
	border: 5px solid #808080;
	border-radius: 25px;
	position: relative;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

header {
	background: url(../img/headerborder01.png) 0px 0px;
	width: auto;
	height: auto;
	position: relative;
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 10px;
	padding-bottom: 30px;
}

/*** You should combine these since they have most of the same properties ***/
.logo a, .logofooter a {
	background: url(../img/header-sprite.png) -11px -10px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 164px;
	width: 164px;
}
/*** These are the only properties you need on this element, 
 *   and it will override the previous code since the selector
 *   is the same weight and it comes after it ***/
/*** Same for a lot of these nav styles ***/
/*** You can set a height on the header and then position the bigger elements first inside it such as nav.
 * Only position the individual nav items relatively from their default position in nav.
 * Use display inline block to get them showing up horizontally "inline".
 */

nav ul li {
	display: inline-block;
}

#about-us a, #contact-us a, #profiles a, #projects a {
	background: url(../img/header-sprite.png) 0px 0px;
	display:inline-block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}

#about-us a {
	background-position: -178px -67px;
	height: 108px;
	width: 120px;
}

#contact-us a {
	background-position: -654px -75px;
	height: 103px;
	width: 145px;
}

#profiles a {
	background-position: -332px -75px;
	height: 98px;
	width: 147px;
}

#projects a {
	background-position: -494px -80px;
	height: 90px;
	width: 142px;
}

#wrapper {
	background: url(../img/team-elemental-background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/*** Instead of absolutely positioning this,
 * set a width on your sidebar (aside) and
 * float it right with the main content floating left.
 * Then just use margin as needed for the space on the heading.
***/
	(Sidebar)
#latestwork {
	color: #ffffff;
	position: absolute;
	right: 60px;
	top: 230px;
	font-size: 24px;
}
/*** This border should be a background on aside and repeating y ***/
aside {
	background: url(../img/sideborder.png) 0px 0px;
	width: 30px;
	height: auto;
	position: relative;
	margin-right: 10%;
	background-repeat: repeat-y;
}
	(Sidebar)
/*** Take off absolute position on these and use margin to
 * space them out inside their default position in the flow of article ***/

article {
	height: auto;
}

#welcome {
	color: #ffffff;
	position: absolute;
	font-size: 24px;
}

#teaminfo {
	color: #ffffff;
	position: absolute;
	top: 340px;
	left: 25px;
	text-indent: 50px;
}

#imageprofiles {
	color: #ffffff;
	position: absolute;
	font-size: 24px;
	left: 210px;
	top: 520px;
}
/*** Alot of these properties are the same as well. Remember DRY coding. Do not repeat yourself.
 * Group selectors by using commas.
 */
#micah {
	background: url(../img/profile-photos.png) 0px 0px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 103px;
	width: 110px;
	position: absolute;
	left: 59px;
	top: 580px;
}

#stephon {
	background: url(../img/profile-photos.png) -161px 0px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 103px;
	width: 110px;
	position: absolute;
	left: 210px;
	top: 580px;
}

#tara {
	background: url(../img/profile-photos.png) -323px 0px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 103px;
	width: 110px;
	position: absolute;
	left: 371px;
	top: 580px;
}

#wrapper-micah {
	text-align: center;
	background: url("http://i.imgur.com/Ba2ofAn.jpg");
	color: white;
	font-family: Helvetica;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#biography {
	color: #ffffff;
	position: absolute;
	top: 300px;
	font-size: 24px;
	left: 335px;
}

#biography-micah {
	color: #ffffff;
	position: absolute;
	top: 345px;
	line-height: 30px;
}
/* End of Micah's code. */

/*Turtles code*/
footer {
	background-color: #404040;
	border: 5px solid #808080;
	border-radius: 25px;
	position: relative;
	height: auto;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px;
	margin-top: 3%;
	padding: 20px;
}


footer a {
	color: #ffffff;
}

footer .left {
	width: 45%;
}
footer .right {
	width: 45%;
	text-align: right;
}

footer ul li {display: inline;}

#copyright {
	color: #ffffff;
	position: relative;
	margin-bottom: 1%;
	margin-left: 1%;
	position: absolute;
	bottom: 20px;
}

#links {
	color: #ffffff;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
}
/*End of Turtles code*/
