/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* Micah is coding here. */

#contentbox {
	background-color: #404040;
	border: 5px solid #808080;
	border-radius: 25px;
	position: relative;
	height: 1235px;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	background: url(../img/header-sprite.png) -11px -10px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 164px;
	width: 164px;
	position: absolute;
	left: 20px;
	top: 10px;
}

.logofooter {
	background: url(../img/header-sprite.png) -11px -10px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 164px;
	width: 164px;
}

#about-us {
	background: url(../img/header-sprite.png) -178px -67px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 108px;
	width: 129px;
	position: absolute;
	left: 190px;
	top: 38px;
}

#contact-us {
	background: url(../img/header-sprite.png) -654px -75px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 103px;
	width: 154px;
	position: absolute;
	top: 50px;
	left: 620px;
}

#profiles {
	background: url(../img/header-sprite.png) -332px -75px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 98px;
	width: 147px;
	position: absolute;
	top: 45px;
	left: 320px;
}

#projects {
	background: url(../img/header-sprite.png) -494px -80px;
	display:block;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	height: 90px;
	width: 142px;
	position: absolute;
	top: 50px;
	left: 460px;
}

#wrapper {
	background: url(../img/team-elemental-background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
/* End of Micah's code. */

/*Turtles code*/
footer {
	background-color: #404040;
	border: 5px solid #808080;
	border-radius: 25px;
	position: relative;
	height: 200px;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}


footer a {
	color: #ffffff;
}

#copyright {
	color: #ffffff;
}

footer p {
	color: #ffffff;
}
/*End of Turtles code*/
